:root {
  --fds-size-1: 8px;
  --fds-size-2: 16px;
  --fds-size-3: 24px;
  --fds-size-4: 32px;
  --fds-size-6: 48px;
  --fds-size-8: 64px;
  --fds-size-12: 96px;
  --fds-size-16: 128px;
  --fds-size-24: 192px;
  --fds-size-32: 256px;
  --fds-radius-compact: 2px;
  --fds-radius-normal: 4px;
  --fds-radius-large: 8px;
  --fds-radius-rounded: 1000px;
  --fds-style-elevation-100: 0px 1px 2px 0px rgba(0, 0, 0, 0.24), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --fds-style-elevation-200: 0px 6px 6px 0px rgba(0, 0, 0, 0.23), 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  --fds-style-elevation-300: 0px 6px 12px 0px rgba(0, 0, 0, 0.23), 0px 20px 20px 0px rgba(0, 0, 0, 0.19);
  --fds-style-elevation-400: 0px 20px 20px 0px rgba(0, 0, 0, 0.22), 0px 50px 100px 0px rgba(0, 0, 0, 0.25);
  --fds-typography-body-default-font-family: 'Public Sans';
  --fds-typography-body-default-font-size: 16px;
  --fds-typography-body-default-letter-spacing: 0px;
  --fds-typography-body-default-line-height: 150%;
  --fds-typography-body-default-font-weight: 400;
  --fds-typography-body-default-display: inline-block;
  --fds-typography-body-large-font-family: 'Public Sans';
  --fds-typography-body-large-font-size: 18px;
  --fds-typography-body-large-letter-spacing: 0px;
  --fds-typography-body-large-line-height: 150%;
  --fds-typography-body-large-font-weight: 400;
  --fds-typography-body-large-display: inline-block;
  --fds-typography-body-micro-font-family: 'Public Sans';
  --fds-typography-body-micro-font-size: 12px;
  --fds-typography-body-micro-letter-spacing: 0px;
  --fds-typography-body-micro-line-height: 150%;
  --fds-typography-body-micro-font-weight: 400;
  --fds-typography-body-micro-display: inline-block;
  --fds-typography-body-small-font-family: 'Public Sans';
  --fds-typography-body-small-font-size: 14px;
  --fds-typography-body-small-letter-spacing: 0px;
  --fds-typography-body-small-line-height: 150%;
  --fds-typography-body-small-font-weight: 400;
  --fds-typography-body-small-display: inline-block;
  --fds-typography-emphasis-default-font-family: 'Public Sans';
  --fds-typography-emphasis-default-font-size: 16px;
  --fds-typography-emphasis-default-letter-spacing: 0px;
  --fds-typography-emphasis-default-line-height: 150%;
  --fds-typography-emphasis-default-font-weight: 700;
  --fds-typography-emphasis-default-display: inline-block;
  --fds-typography-emphasis-large-font-family: 'Public Sans';
  --fds-typography-emphasis-large-font-size: 18px;
  --fds-typography-emphasis-large-letter-spacing: 0px;
  --fds-typography-emphasis-large-line-height: 150%;
  --fds-typography-emphasis-large-font-weight: 700;
  --fds-typography-emphasis-large-display: inline-block;
  --fds-typography-emphasis-micro-font-family: 'Public Sans';
  --fds-typography-emphasis-micro-font-size: 12px;
  --fds-typography-emphasis-micro-letter-spacing: 0px;
  --fds-typography-emphasis-micro-line-height: 150%;
  --fds-typography-emphasis-micro-font-weight: 700;
  --fds-typography-emphasis-micro-display: inline-block;
  --fds-typography-emphasis-small-font-family: 'Public Sans';
  --fds-typography-emphasis-small-font-size: 14px;
  --fds-typography-emphasis-small-letter-spacing: 0px;
  --fds-typography-emphasis-small-line-height: 150%;
  --fds-typography-emphasis-small-font-weight: 700;
  --fds-typography-emphasis-small-display: inline-block;
  --fds-typography-heading-large-heading-3-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-heading-large-heading-3-font-size: 40px;
  --fds-typography-heading-large-heading-3-letter-spacing: 0px;
  --fds-typography-heading-large-heading-3-line-height: 110%;
  --fds-typography-heading-large-heading-3-font-weight: 700;
  --fds-typography-heading-large-heading-3-display: inline-block;
  --fds-typography-heading-large-heading-4-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-heading-large-heading-4-font-size: 32px;
  --fds-typography-heading-large-heading-4-letter-spacing: 0px;
  --fds-typography-heading-large-heading-4-line-height: 110%;
  --fds-typography-heading-large-heading-4-font-weight: 700;
  --fds-typography-heading-large-heading-4-display: inline-block;
  --fds-typography-heading-large-heading-5-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-heading-large-heading-5-font-size: 28px;
  --fds-typography-heading-large-heading-5-letter-spacing: 0px;
  --fds-typography-heading-large-heading-5-line-height: 110%;
  --fds-typography-heading-large-heading-5-font-weight: 700;
  --fds-typography-heading-large-heading-5-display: inline-block;
  --fds-typography-heading-large-heading-6-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-heading-large-heading-6-font-size: 20px;
  --fds-typography-heading-large-heading-6-letter-spacing: 0px;
  --fds-typography-heading-large-heading-6-line-height: 110%;
  --fds-typography-heading-large-heading-6-font-weight: 700;
  --fds-typography-heading-large-heading-6-display: inline-block;
  --fds-typography-heading-large-heading-1-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-heading-large-heading-1-font-size: 64px;
  --fds-typography-heading-large-heading-1-letter-spacing: 0px;
  --fds-typography-heading-large-heading-1-line-height: 110%;
  --fds-typography-heading-large-heading-1-font-weight: 700;
  --fds-typography-heading-large-heading-1-display: inline-block;
  --fds-typography-heading-large-heading-2-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-heading-large-heading-2-font-size: 48px;
  --fds-typography-heading-large-heading-2-letter-spacing: 0px;
  --fds-typography-heading-large-heading-2-line-height: 110%;
  --fds-typography-heading-large-heading-2-font-weight: 700;
  --fds-typography-heading-large-heading-2-display: inline-block;
  --fds-typography-heading-small-heading-1-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-heading-small-heading-1-font-size: 42px;
  --fds-typography-heading-small-heading-1-letter-spacing: 0px;
  --fds-typography-heading-small-heading-1-line-height: 110%;
  --fds-typography-heading-small-heading-1-font-weight: 700;
  --fds-typography-heading-small-heading-1-display: inline-block;
  --fds-typography-heading-small-heading-2-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-heading-small-heading-2-font-size: 32px;
  --fds-typography-heading-small-heading-2-letter-spacing: 0px;
  --fds-typography-heading-small-heading-2-line-height: 110%;
  --fds-typography-heading-small-heading-2-font-weight: 700;
  --fds-typography-heading-small-heading-2-display: inline-block;
  --fds-typography-heading-small-heading-3-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-heading-small-heading-3-font-size: 28px;
  --fds-typography-heading-small-heading-3-letter-spacing: 0px;
  --fds-typography-heading-small-heading-3-line-height: 110%;
  --fds-typography-heading-small-heading-3-font-weight: 700;
  --fds-typography-heading-small-heading-3-display: inline-block;
  --fds-typography-heading-small-heading-4-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-heading-small-heading-4-font-size: 24px;
  --fds-typography-heading-small-heading-4-letter-spacing: 0px;
  --fds-typography-heading-small-heading-4-line-height: 110%;
  --fds-typography-heading-small-heading-4-font-weight: 700;
  --fds-typography-heading-small-heading-4-display: inline-block;
  --fds-typography-heading-small-heading-5-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-heading-small-heading-5-font-size: 18px;
  --fds-typography-heading-small-heading-5-letter-spacing: 0px;
  --fds-typography-heading-small-heading-5-line-height: 110%;
  --fds-typography-heading-small-heading-5-font-weight: 700;
  --fds-typography-heading-small-heading-5-display: inline-block;
  --fds-typography-heading-small-heading-6-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-heading-small-heading-6-font-size: 16px;
  --fds-typography-heading-small-heading-6-letter-spacing: 0px;
  --fds-typography-heading-small-heading-6-line-height: 110%;
  --fds-typography-heading-small-heading-6-font-weight: 700;
  --fds-typography-heading-small-heading-6-display: inline-block;
  --fds-typography-link-large-font-family: 'Public Sans';
  --fds-typography-link-large-font-size: 18px;
  --fds-typography-link-large-letter-spacing: 0px;
  --fds-typography-link-large-line-height: 150%;
  --fds-typography-link-large-font-weight: 400;
  --fds-typography-link-large-text-decoration: underline;
  --fds-typography-link-large-display: inline-block;
  --fds-typography-link-micro-font-family: 'Public Sans';
  --fds-typography-link-micro-font-size: 12px;
  --fds-typography-link-micro-letter-spacing: 0px;
  --fds-typography-link-micro-line-height: 150%;
  --fds-typography-link-micro-font-weight: 400;
  --fds-typography-link-micro-text-decoration: underline;
  --fds-typography-link-micro-display: inline-block;
  --fds-typography-link-small-font-family: 'Public Sans';
  --fds-typography-link-small-font-size: 14px;
  --fds-typography-link-small-letter-spacing: 0px;
  --fds-typography-link-small-line-height: 150%;
  --fds-typography-link-small-font-weight: 400;
  --fds-typography-link-small-text-decoration: underline;
  --fds-typography-link-small-display: inline-block;
  --fds-typography-link-default-font-family: 'Public Sans';
  --fds-typography-link-default-font-size: 16px;
  --fds-typography-link-default-letter-spacing: 0px;
  --fds-typography-link-default-line-height: 150%;
  --fds-typography-link-default-font-weight: 400;
  --fds-typography-link-default-text-decoration: underline;
  --fds-typography-link-default-display: inline-block;
  --fds-typography-ui-helper-font-family: 'Public Sans', 'PublicSans-Regular';
  --fds-typography-ui-helper-font-size: 15px;
  --fds-typography-ui-helper-letter-spacing: 0px;
  --fds-typography-ui-helper-line-height: 100%;
  --fds-typography-ui-helper-font-weight: 400;
  --fds-typography-ui-helper-display: inline-block;
  --fds-typography-ui-id-font-family: 'Roboto Mono';
  --fds-typography-ui-id-font-size: 13px;
  --fds-typography-ui-id-letter-spacing: 0px;
  --fds-typography-ui-id-line-height: 100%;
  --fds-typography-ui-id-font-weight: 700;
  --fds-typography-ui-id-display: inline-block;
  --fds-typography-ui-label-font-family: 'Public Sans', 'PublicSans-Medium';
  --fds-typography-ui-label-font-size: 16px;
  --fds-typography-ui-label-letter-spacing: 0px;
  --fds-typography-ui-label-line-height: 22px;
  --fds-typography-ui-label-font-weight: 500;
  --fds-typography-ui-label-display: inline-block;
  --fds-typography-ui-placeholder-font-family: 'Public Sans', 'PublicSans-Medium';
  --fds-typography-ui-placeholder-font-size: 16px;
  --fds-typography-ui-placeholder-letter-spacing: 0px;
  --fds-typography-ui-placeholder-line-height: 100%;
  --fds-typography-ui-placeholder-font-weight: 500;
  --fds-typography-ui-placeholder-display: inline-block;
  --fds-typography-ui-tag-font-family: 'Public Sans', 'PublicSans-Bold';
  --fds-typography-ui-tag-font-size: 16px;
  --fds-typography-ui-tag-letter-spacing: 0px;
  --fds-typography-ui-tag-line-height: 100%;
  --fds-typography-ui-tag-font-weight: 700;
  --fds-typography-ui-tag-display: inline-block;
  --fds-color-brand-black: #000000;
  --fds-color-brand-white: #ffffff;
  --fds-color-brand-turquoise: #00FFCD;
  --fds-color-brand-secondary-rusko: #FF9B8A;
  --fds-color-brand-secondary-routa: #E3E3E3;
  --fds-color-brand-secondary-asfaltti: #737373;
  --fds-color-brand-secondary-taivas: #5FBAF2;
  --fds-color-brand-secondary-mustikka: #202647;
  --fds-color-brand-secondary-lippu: #213BF7;
  --fds-color-brand-secondary-havu: #306060;
  --fds-color-brand-secondary-siimes: #3F8C82;
  --fds-color-danger-50: #FFF0ED;
  --fds-color-danger-100: #ff9b87;
  --fds-color-danger-200: #e55636;
  --fds-color-danger-300: #b40000;
  --fds-color-danger-400: #720000;
  --fds-color-interactive-50: #EFF8FF;
  --fds-color-interactive-100: #90cefe;
  --fds-color-interactive-200: #1777f8;
  --fds-color-interactive-300: #0034ac;
  --fds-color-interactive-400: #001c5b;
  --fds-color-neutral-50: #F6F6F6;
  --fds-color-neutral-100: #cdcdd7;
  --fds-color-neutral-200: #9696aa;
  --fds-color-neutral-300: #505064;
  --fds-color-neutral-400: #2c2c44;
  --fds-color-success-50: #EAFFF8;
  --fds-color-success-100: #82e8c3;
  --fds-color-success-200: #25a794;
  --fds-color-success-300: #005f61;
  --fds-color-success-400: #004042;
  --fds-color-text-1: #ffffff;
  --fds-color-text-300: #9696aa;
  --fds-color-text-600: #505064;
  --fds-color-text-1000: #000000;
  --fds-color-warning-50: #FFFADB;
  --fds-color-warning-100: #ffe37f;
  --fds-color-warning-200: #eec200;
  --fds-color-warning-300: #b47324;
  --fds-color-warning-400: #6c3e05;
}