{:environment {:base-url "http://localhost:3000/"}
 :dev-mode? true
 :testing-env? true
 :db {:url "jdbc:postgresql://localhost:5432/napote"
      :username "napote"
      :password ""}
 ;; example for reading password from a file:
 ;; :db {:url "jdbc:postgresql://localhost:5435/napote"
 ;;      :username "ote"
 ;;      :password #=(slurp "../../mydbpassword.txt")}

 :http {:port 3000
        :ip "localhost"
        :max-body 33554432 ;; 32 megabytes
        :auth-tkt {:shared-secret "localdev"
                   :max-age-in-seconds 36000
                   :digest-algorithm "MD5"}
        :session {:key "cookie0123456789"}                  ;; Comment this temporarily when running e2e tests locally
        :ssl-upgrade {:port 3080
                      :ip "localhost"
                      :url "http://localhost:3000/"}
        :allow-robots? true}

 :email {:server
         {;; Hostname of the STMP server. Optional if running locally.
          :host nil
          ;; Port of the SMTP server. Numerous contextual defaults exists. E.g. when using :ssl or :tsl settings.
          :port nil
          ;; Port is set to 465 is ssl is true
          :ssl false
          ;; Port is set to 25 if tsl is true
          :tsl false
          :user nil
          :pass nil}

         ;; Common message opts
         :msg {:from "NAP"}}

 :places {:finnish-municipalities
          {:type :shapefile
           :name-field "NAMEFIN"
           :url "https://s3.eu-central-1.amazonaws.com/ote-assets/places/finnish-municipalities/SuomenKuntajako_2017_10k.shp"}}

 :nap {:api "http://localhost:8080/api/"
       :export-base-url "http://localhost:8080"}

 :log {:level :debug}
 :ga {:tracking-code "UA-5406842-15"}
 :matomo {:piwik-url "https://stat.viestintavirasto.fi/"
          :site-id 10}

 :gtfs {:bucket "napote-gtfs-localdev"}
 :pre-notices {:bucket "napote-pre-notice-attachment-localdev"
               ;; :laundry-url "http://localhost:8080/"
               }

 ;; add features to the set to enable them in in this environment
 :enabled-features #{:ote-login
                     :ote-operators-list
                     :sea-routes
                     :pre-notice
                     :gtfs-import
                     :ote-register
                     :netex-conversion-automated}

 :no-gtfs-update-for-operators #{}

 :netex {:chouette-path "/opt/chouette/"
         :conversion-work-path "/tmp/ote/netex-conversion/"
         :bucket "napote-netex-localdev"}
 }
