{% ckan_extends %}

{% block resource_actions_inner %}
{% if res.url and h.is_url(res.url) %}
<li>
  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
    {% if res.resource_type in ('listing', 'service') %}
    <i class="fa fa-eye"></i> {{ _('View') }}
    {% elif  res.resource_type == 'api' %}
    <i class="fa fa-key"></i> {{ _('API Endpoint') }}
    {% elif (not res.has_views or not res.can_be_previewed) and not res.url_type == 'upload' %}
    <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
    {% else %}
    <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
    {% endif %}
  </a>
</li>
{% endif %}
{% endblock %}
