{% ckan_extends %}

{# Remove add package button #}
{% block page_primary_action %}
{% endblock %}

{% block secondary_content %}
    <div class="filters">
        <section class="module module-narrow module-shallow">
            <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('HEADING/What are facets?') }}</h2>
            <div class="module-content">
                <p>
                    {% trans %}Facets info text{% endtrans %}
                </p>
            </div>
        </section>
        <div>
            {% for facet in c.facet_titles %}
                {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
            {% endfor %}
        </div>
        <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
    </div>
{% endblock %}