{% ckan_extends %}

{% block package_basic_fields_custom %}

    {{ form.input('transport_service_type', label=_('Service Type'), id='field-transport_service_type',
       placeholder=_('Service Type'),
       value=data.transport_service_type,
       error=errors.transport_service_type,
       classes=['control-medium']) }}

    {{ form.input('operation_area', label=_('Operation Area'), id='field-operation_area',
       placeholder=_('Operation area'),
       value=data.operation_area,
       error=errors.operation_area,
       classes=['control-medium']) }}

{% endblock %}