{:olennaiset-tiedot

 {;; Kenttien otsikot (FIXME: oikea ns)
  :otsikot
  #:ote.domain.liikkumispalvelu {:name "Palveluntarjoajan nimi"
                                 :business-id "Y-tunnus"
                                 ;:tyyppi "Palvelun tyyppi"
                                 :street "Osoite"
                                 :post-office "Postitoimipaikka"
                                 :post-code "Postinumero"
                                 :phone "Puhelin (toimisto)"
                                 :gsm "Puhelin (GSM)"
                                 :email "Sähköpostiosoite"
                                 :visiting-address/street "Osoite"
                                 :visiting-address/postal_code "Postinumero"
                                 :visiting-address/post_office "Postitoimipaikka"
                                 :homepage "WWW-osoite"
                                 :luggage-restrictions "Matkatavaroita koskevat rajoitukset"
                                 :url "Palvelun osoite"
                                 :description "Palvelun kuvaus"
                                 }

  }

 ;; Liikkumispalvelutyyppi enumin arvojen selkokieliset nimet
 :ote.domain.liikkumispalvelu/service-type
 {:terminal "Satama, Asema, Terminaali"
  :passenger-transportation "Henkilökuljetuspalvelu"
  :rentals "Ajoneuvojen vuokrauspalvleut ja kaupalliset yhteisökäyttöpalvelut"
  :parking "Yhteiskäyttö-/Pysäköintipalvelu"
  :brokerage "Välityspalvelu"}


 :y-tunnus "Y-tunnus"
 :tervehdys ["Moro vaan " :name "!"]}
