{
 ;; Labels for database fields
 :field-labels
 {;; Transport operator fields
  :ote.db.transport-operator/name                     "Palveluntarjoajan nimi"
  :ote.db.transport-operator/business-id              "Y-tunnus"
  :ote.db.transport-operator/phone                    "Puhelin (toimisto)"
  :ote.db.transport-operator/gsm                      "Puhelin (GSM)"
  :ote.db.transport-operator/email                    "Sähköpostiosoite"
  :ote.db.transport-operator/homepage                 "WWW-osoite"
  :ote.db.transport-operator/visiting-address         "Käyntiosoite"
  :ote.db.transport-operator/billing-address          "Laskutusosoite"

  :ote.db.transport-operator/facebook "Facebook"
  :ote.db.transport-operator/twitter "Twitter"
  :ote.db.transport-operator/instant-message "Pikaviestin"

  ;; Transport service fields
  :ote.db.transport-service/type "Valitse liikkumispalvelun tyyppi"

  :transport-service-common
  {:ote.db.transport-service/name "Palvelun nimi"
   :ote.db.transport-service/accessibility-tool        "Esteettömyysvälineet"
   :ote.db.transport-service/accessibility-description "Esteettömyyspalveluiden kuvaus"

   ;; Contact details
   :ote.db.transport-service/contact-address          "Osoitetiedot"
   :ote.db.transport-service/contact-phone             "Puhelin"
   :ote.db.transport-service/contact-email             "Sähköposti"
   :ote.db.transport-service/homepage                  "Kotisivu"

   :ote.db.transport-service/operation-area            "Toiminta-alue"
   :ote.db.transport-service/location                  "Sijainti"

   }

  ;; Passenger transportation fields
  :passenger-transportation
  {:ote.db.transport-service/luggage-restrictions      "Matkatavaroita koskevat rajoitukset"
   :ote.db.transport-service/url                       "Palvelun osoite"
   :ote.db.transport-service/description               "Palvelun kuvaus"
   :ote.db.transport-service/real-time-information     "Reaaliaikapalvelun osoitetiedot"
   :ote.db.transport-service/booking-service           "Varauspalvelun osoitetiedot"
   :ote.db.transport-service/payment-methods           "Valitse maksutavat"
   :ote.db.transport-service/additional-services       "Muut palvelut"
   :ote.db.transport-service/price-class               "Hinnoittelu"
   :ote.db.transport-service/service-hours             "Palveluajat"
   :ote.db.transport-service/operation-area            "Toiminta-alue"

   ;; Price Class fields
   :ote.db.transport-service/price-class-name "Hintaryhmä"
   :ote.db.transport-service/price-per-unit            "Hinta per yksikkö"
   :ote.db.transport-service/unit                      "Yksikkö"
   :ote.db.transport-service/currency                  "Valuutta"


   ;; Service hour fields
   :ote.db.transport-service/week-days                 "Viikonpäivät"
   :ote.db.transport-service/from                      "Aukeamisaika"
   :ote.db.transport-service/to                        "Kiinnimenoaika"

   }

  ;; Terminal fields
  :terminal
  {:ote.db.transport-service/indoor-map "Sisätilakartan osoitetiedot"
   :ote.db.transport-service/url                       "Palvelun osoite"
   :ote.db.transport-service/description               "Palvelun kuvaus"
   :ote.db.transport-service/information-service-accessibility "Esteettömyys-info-välineet"
   :ote.db.transport-service/accessibility     "Esteettömyys-laitteet"
   :ote.db.transport-service/mobility          "mobility"
  }

  ;; Rental fields
  :rentals
  {:eligibility-requirements  "Kelpoisuusvaatimukset"
   }

  ;; Parking fields
  :parking
  {:parking-areas  "Parkkipaikkojen sijainnit"
   }


  :transport-service
  {:ote.db.transport-service/name "Palvelun mimi"
   :ote.db.transport-service/published? "NAP-tila"
   :ote.db.transport-service/published?-values {true "Julkaistu"
                                                false "Ei julkaistu"}}

  ;; Common fields
  :ote.db.common/street                               "Osoite"
  :ote.db.common/post_office                          "Postitoimipaikka"
  :ote.db.common/postal_code                          "Postinumero"}

 ;; Action buttons
 :buttons
 {:save "Tallenna"
  :delete "Poista"
  :publish "Julkaise"

  :save-and-publish "Tallenna ja julkaise"
  :save-as-draft "Tallenna luonnoksena"
  :save-updated "Tallenna päivitetyt tiedot"

  :discard "Peruuta muutokset"}



 ;; Database enumeration values
 :enums
 {:ote.db.transport-service/type
  {:terminal                 "Asemat, satamat ja muut terminaalit"
   :passenger-transportation "Henkilöidenkuljetuspalvelut"
   :rentals                  "Ajoneuvojen vuokrauspalvelut ja kaupalliset yhteiskäyttöpalvelut"
   :parking                  "Yleiset kaupalliset pysäköintipalvelut"
   :brokerage                "Välityspalvelut"}

  :ote.db.transport-service/payment-methods
  {:cash                "Käteinen"
   :debit-card          "Pankkikortti"
   :credit-card         "Luottokortti"
   :mobilepay           "Mobiilimaksu"
   :contactless-payment "Lähimaksu"
   :invoice             "Lasku"
   :other               "Muu"}

  :ote.db.transport-service/additional-services
  {:child-seat       "Lastenistuin"
   :animal-transport "Eläinkuljetus"
   :other            "Muu"}


  :ote.db.transport-service/accessibility-tool
  {:wheelchair       "Rullatuoli"
   :walkingstick     "Kävelykeppi"
   :audio-navigator  "Ääniopastus"
   :visual-navigator "Visuaaliset opasteet"
   :passenger-cart   "Henkilökuljetuskärryt"
   :pushchair        "Lastenrattaat"
   :umbrella         "Sateenvarjo"
   :buggy            "Lastenvounut"
   :other            "Muu"}

  :ote.db.transport-service/day
  {:short {:MON "Ma" :TUE "Ti" :WED "Ke" :THU "To" :FRI "Pe" :SAT "La" :SUN "Su"}
   :full {:MON "Maanantai" :TUE "Tiistai" :WED "Keskiviikko" :THU "Torstai"
          :FRI "Perjantai" :SAT "Lauantai" :SUN "Sunnuntai"}}

  :ote.db.transport-service/information-service-accessibility
  {:audio-for-hearing-impaired "Ääniopastus kuulovammaisille"
   :audio-information "Äänelliset informaatiot"
   :visual-displays "Visuaaliset näytöt"
   :displays-for-visually-impaired "Näytöt näkövammaisille"
   :large-print-timetables "Suuret kirjasimet aikatauluissa"
   :other "Muu"
   }

  :ote.db.transport-service/accessibility
  {:unknown "Määrittelemätön"
   :lift "Hissi"
   :escalator "Liukuportaat"
   :travelator "Liikkuva kävelytie"
   :ramp "Ramppi"
   :stairs "Portaat"
   :shuttle "Sukkulaliikenne"
   :narrow-entrance "Kapea sisäänkäynti"
   :barrier "Puomi"
   :pallet-access-low-floor "Kuormalavalinjan matala lattia"
   :validator "Validator"
   :other  "Muu"}

  :ote.db.transport-service/mobility
  {:unknown "Määrittelemätön"
   :low-floor "Matalalattia"
   :step-free-access "Portaaton pääsy"
   :suitable-for-wheelchairs "Sopii pyörätuolille"
   :suitable-for-heavily-disabled  ":suitable-for-heavily-disabled"
   :boarding-assistance  "Kyytiin nousun avustus"
   :onboard-assistance "Kyydin aikainen avustus"
   :unaccompanied-minor-assistance "Alaikäisten avustus"
   :tactile-patform-edges  "Kosketukseen perustuva varoitus laiturin reunassa"
   :tactile-guiding-strips "Kosketukseen perustuvat ohjausliuskat"
   :other "Muu"}
  }

 ;; Per feature/page localization keys
 :place-search {:name                "Paikan nimi"
                :place-auto-complete "Hae paikka nimellä"}

 :titles {:terminal                 "Asemat, satamat ja muut terminaalit"
          :passenger-transportation "Henkilöidenkuljetuspalvelut"
          :rentals                  "Ajoneuvojen vuokrauspalvelut ja kaupalliset yhteiskäyttöpalvelut"
          :parking                  "Yleiset kaupalliset pysäköintipalvelut"
          :brokerage                "Välityspalvelut"}
 :common-texts {
                :front-page-help-text                       "Et ole vielä kirjannut liikkumispalvelutietoja NAP-palveluun.
        Voit lisätä olemassaolevan palvelurajapintasi tai täyttää palvelusi olennaiset tiedot käyttämällä
        Liikenneviraston tähän tarkoitukseen kehittämää OTE-palvelua."
                :link-add-new-api                           "Lisää uusi palvelu"
                :own-api-list                               "Omat liikkumispalvelutiedot"
                :passenger-transportation-service-text      "Henkilöiden kuljetuspalvelut"
                :api-name                                   "Rajapinnan nimi"
                :api-url                                    "Rajapinnan verkko-osoite"
                :finap-status                               "NAP tila"
                :header-nap-official-name                   "Palvelukatalogi"
                :header-own-service-list                    "Omat palvelutiedot"
                :header-front-page                          "Etusivu"

                :title-required-data-with-OTE               "Olennaisten tietojen kirjaaminen OTE:lla"
                :transport-service-type-selection-help-text "Voit digitoida liikkumispalveluidesi olennaisia tietoja valitsemalla
                ensin liikkumispalvelutyypin sekä organisaation ja täyttämällä sen jälkeen näytölle avautuneen lomakkeen.
                Jos tarjoat useita liikkumispalveluita, voit täyttää jokaisesta oman lomakkeen."
                :title-operator-basic-details               "Perustiedot"
                }

 }
