{
 ;; Labels for database fields
 :field-labels
 {;; Transport operator fields
  :ote.db.transport-operator/name                     "Palveluntarjoajan nimi"
  :ote.db.transport-operator/business-id              "Y-tunnus"
  :ote.db.transport-operator/phone                    "Puhelin (toimisto)"
  :ote.db.transport-operator/gsm                      "Puhelin (GSM)"
  :ote.db.transport-operator/email                    "Sähköpostiosoite"
  :ote.db.transport-operator/homepage                 "WWW-osoite"
  :ote.db.transport-operator/visiting-address         "Käyntiosoite"
  :ote.db.transport-operator/billing-address          "Laskutusosoite"

  :ote.db.transport-operator/facebook "Facebook"
  :ote.db.transport-operator/twitter "Twitter"
  :ote.db.transport-operator/instant-message "Pikaviestin"

  ;; Transport service fields
  :ote.db.transport-service/service-type "Valitse välityspavelun tyyppi"

  ;; Passenger transportation fields
  :passenger-transportation
  {:ote.db.transport-service/luggage-restrictions      "Matkatavaroita koskevat rajoitukset"
   :ote.db.transport-service/url                       "Palvelun osoite"
   :ote.db.transport-service/description               "Palvelun kuvaus"
   :ote.db.transport-service/real-time-information     "Reaaliaikapalvelun osoitetiedot"
   :ote.db.transport-service/booking-service           "Varauspalvelun osoitetiedot"
   :ote.db.transport-service/payment-methods           "Valitse maksutavat"
   :ote.db.transport-service/additional-services       "Muut palvelut"
   :ote.db.transport-service/accessibility-tool        "Esteettömyysvälineet"
   :ote.db.transport-service/accessibility-description "Esteettömyyspalveluiden kuvaus"
   :ote.db.transport-service/price-class               "Hinnoittelu"

   ;; Price Class fields
   :ote.db.transport-service/name                      "Hintaryhmä"
   :ote.db.transport-service/price-per-unit            "Hinta per yksikkö"
   :ote.db.transport-service/unit                      "Yksikkö"
   :ote.db.transport-service/currency                  "Valuutta"

   ;; Contact details
   :ote.db.transport-operator/contact-address          "Osoitetiedot"
   :ote.db.transport-service/contact-phone             "Puhelin"
   :ote.db.transport-service/contact-email             "Sähköposti"
   :ote.db.transport-service/homepage                  "Kotisivu"

   :ote.db.transport-service/operation-area "Toiminta-alue"

   }

  ;; Terminal fields
  :terminal
  {:ote.db.transport-service/indoor-map "Sisätilojen kartta"
   :ote.db.transport-service/accessibility-tool        "Esteettömyysvälineet"
  }

  ;; Rental fields
  :rentals
  {:eligibility-requirements  "Kelpoisuusvaatimukset"
   }

  ;; Parking fields
  :parking
  {:parking-areas  "Parkkipaikkojen sijainnit"
   }


  :transport-service
  {:ote.db.transport-service/published? "NAP-tila"
   :ote.db.transport-service/published?-values {true "Julkaistu"
                                                false "Ei julkaistu"}}

  ;; Common fields
  :ote.db.common/street                               "Osoite"
  :ote.db.common/post-office                          "Postitoimipaikka"
  :ote.db.common/postal-code                          "Postinumero"}

 ;; Action buttons
 :buttons
 {:save "Tallenna"
  :delete "Poista"
  :publish "Julkaise"}



 ;; Database enumeration values
 :enums
 {:ote.db.transport-service/service-type
  {:terminal                 "Satama, Asema, Terminaali"
   :passenger-transportation "Henkilökuljetuspalvelu"
   :rentals                  "Ajoneuvojen vuokrauspalvleut ja kaupalliset yhteisökäyttöpalvelut"
   :parking                  "Yhteiskäyttö-/Pysäköintipalvelu"
   :brokerage                "Välityspalvelu"}

  :ote.db.transport-service/payment-methods
  {:cash                "Käteinen"
   :debit-card          "Pankkikortti"
   :credit-card         "Luottokortti"
   :mobilepay           "Mobiilimaksu"
   :contactless-payment "Lähimaksu"
   :invoice             "Lasku"
   :other               "Muu"}

  :ote.db.transport-service/additional-services
  {:child-seat       "Lastenistuin"
   :animal-transport "Eläinkuljetus"
   :other            "Muu"}


  :ote.db.transport-service/accessibility-tool
  {:wheelchair       "Rullatuoli"
   :walkingstick     "Kävelykeppi"
   :audio-navigator  "Audio Navigator"
   :visual-navigator "Visual Navigator"
   :passenger-cart   "Passenger Cart"
   :pushchair        "Pushchair"
   :umbrella         "Sateenvarjo"
   :buggy            "Buggy"
   :other            "Muu"}
  }

 ;; Per feature/page localization keys
 :place-search {:name                "Paikan nimi"
                :place-auto-complete "Hae paikka nimellä"}

 :common-texts {
                :front-page-help-text                       "Et ole vielä kirjannut liikkumispalvelutietoja NAP-palveluun.
        Voit lisätä olemassaolevan palvelurajapintasi tai täyttää palvelusi olennaiset tiedot käyttämällä
        Liikenneviraston tähän tarkoitukseen kehittämää OTE-palvelua."
                :link-add-new-api                           "Lisää rajapinta"
                :own-api-list                               "Omat palvelutiedot (Lisätty OTE:lla)"
                :passenger-transportation-service-text      "Henkilöiden kuljetuspalvelut"
                :api-name                                   "Rajapinnan nimi"
                :api-url                                    "Rajapinnan verkko-osoite"
                :finap-status                               "NAP tila"
                :header-nap-official-name                   "Palvelukatalogi"
                :header-own-service-list                    "Omat palvelutiedot"
                :header-front-page                          "Etusivu"

                :title-required-data-with-OTE               "Olennaisten tietojen kirjaaminen OTE:lla"
                :transport-service-type-selection-help-text "Voit kirjata eri liikkumispalveluiden olennaisia tietoja valitsemalla ensin liikkumispalvelun
     tyypin ja täyttämällä sen jälkeen näytölle avautuneen lomakkeen."
                :title-operator-basic-details               "Perustiedot"
                }

 }
