/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #3db7e4;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #3db7e4, 0 0 5px #8dc8e8;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 10px;
    right: 15px;
}

#nprogress .spinner .loading-msg {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 20px;
    right: 80px;
    color: white;
    font-weight: bold;
}

#nprogress .spinner-icon {
    width: 36px;
    height: 36px;
    box-sizing: border-box;

    border: solid 5px transparent;
    border-top-color: #3db7e4;
    border-left-color: #3db7e4;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    #nprogress .spinner .loading-msg {
        display: none;
    }

    #nprogress .spinner {
        top: 15px;
        right: 10px;
    }

    #nprogress .spinner-icon {
        width: 25px;
        height: 25px;
    }
}

