/* Tänne kaikki Material UI:ta muuttavat css muutokset - hox korvataan varmaan jossain vaiheessa less/sass tiedostoilla */

html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.background-color {
    background: #3db7e4
}

.form-group {
    padding-bottom: 20px;
}

.leaflet-container {
    width: 100%;
    height: 500px;
}

.set-bottom {
    display : table-row;
    vertical-align : bottom;
    height : 1px;
}

.main-notification-panel {
    margin-top: 20px;
    background-color: #E0E0E0;
    color: #757575;
    margin-bottom: 20px;
}

.main-notification-panel > div:first-of-type {
    padding-top: 22px;
    padding-left: 35px;
}

.debug {
    font-size: 12px;
}
