/* Tänne kaikki Material UI:ta muuttavat css muutokset - hox korvataan varmaan jossain vaiheessa less/sass tiedostoilla */

html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.background-color {
    background: #3db7e4
}

.form-group {
    padding-bottom: 20px;
}

.leaflet-container {
    height: 400px;
    width: 100%;
}

.set-bottom {
    display : table-row;
    vertical-align : bottom;
    height : 1px;
}

.debug {
    font-size: 12px;
}
