/* Tänne kaikki Material UI:ta muuttavat css muutokset - hox korvataan varmaan jossain vaiheessa less/sass tiedostoilla */

html {
    font-family: 'Roboto', sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
    height: 100%;
    min-height: 100%;
    line-height: 1.5;
}

html table {
    line-height: 1.15;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-size: 16px;
    color: #444444;
    background-color: #fafafa;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 1rem;
    font-family: 'Montserrat', montserrat, Arial, sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.25;
    color: rgb(50,50,50);
}

h2 {
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 1.25;
    color: rgb(50,50,50);
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
    color: rgb(50,50,50);
}

h4 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5;
    color: rgb(50,50,50);
}

@media (max-width: 767px) {
    h1 {
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.25;
        color: rgb(50,50,50);
    }
    h2 {
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1.25;
        color: rgb(50,50,50);
    }
    h3 {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.5;
        color: rgb(50,50,50);
    }
    h4 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5;
        color: rgb(50,50,50);
    }
}


/* Rendered translations are wrapped with <p> by Marked JS library.
   Remove the margins of the first P-element */
.translation-markdown > p:only-child {
    margin-top: 0;
    margin-bottom: 0;
}

.translation-markdown > p:first-child {
    margin-top: 0;
}

.translation-markdown > p:last-child {
    margin-bottom: 0;
}

/* Allow rendering single line breaks in translation blocks*/
.translation-markdown > p {
    white-space: pre-wrap;
}

#oteapp, .ote-sovellus {
    height: 100%;
    min-height: 100%;
    padding: 0px;
}

/* ul has margin-top:1em by default. 1em is equal to current font-size (16px by default).
In order to our OTE menu to render correctly work, we need to reset margin and padding for ul elements.
*/
#oteapp ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 20px 0px 0px 0px;
    margin-top: 80px;
}

/* Disable top margin for h1 inside wrapper, we do not need top margin for these, as they are our titles.
   The needed margin comes from .wrapper class.
 */
.wrapper h1 {
    margin-top: 0;
}

.grey-wrapper {
    background-color: rgba(58, 57, 57, 0.1);
}

.background-color {
    background: #3db7e4
}

@media only screen and (min-width: 1170px) {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}



.leaflet-container {
    width: 100%;
    height: 400px;
}

/* Fix MaterialUI IE bug*/
input::-ms-clear {
    display: none;
}

.set-bottom {
    display : table-row;
    vertical-align : bottom;
    height : 1px;
}
/* Front page notification panel */
.main-notification-panel {
    margin-top: 20px;
    padding-bottom: 18px;
}

.main-notification-panel > div {
    background-color: #E0E0E0;
}

.main-notification-panel > div:first-of-type {
    padding-top: 22px;
    padding-left: 35px;
    padding-bottom: 14px;
    font-size: 28px;
}

/* Organization page grid exceptions */
div.organization-info > .form div {
    padding-right: 5px;
}
/* Debug container */
.debug {
    font-size: 12px;
    /*position:absolute;
    bottom: 0px;*/
}

/* Footer */
footer {
    display: block;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;

}
.site-footer {
    background: #323232;
    color: #ffffff;
    min-height: 100px;
    padding: 20px 0;
    margin-top: 2.5rem;
}
.site-footer .container-fluid {
    position: relative;
}
.site-footer a {
    color: #fff;
    text-decoration: none;
}
.site-footer a:hover {
    text-decoration: underline;
}

ul.unstyled, ol.unstyled {
    margin-left: 0;
    list-style: none;
}

.unstyled {
    margin: 0;
    list-style: none;
}
.attribution .ckan-footer-logo {
    display: block;
    width: 68px;
    height: 21px;
    margin-top: 2px;
    background: url(../../../base/images/ckan-logo-footer.png) no-repeat top left;
    text-indent: -900em;
}

span.search-card-title {
    font-size: 16px;
    font-weight: 600;
}

/* Footer ends */
#oteapp > [data-reactroot] { height: 100% }

/* Show scrollbar always */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.table-body td, th{
    font-size: 0.875rem !important;
}

.route-stop-icon {
    border-style: solid;
    border-color: blue;
    border-radius: 6px;
}

.route-bearing {
    border: none;
    background: none;
    margin: 0;
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.mui-select-button button {
    fill: #000 !important;
}

.mui-select-button hr {
    border-color: #969696 !important;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.mui-select-button:hover hr {
    border-width: medium medium 3px !important;
}


