{% set current_lang = request.environ.CKAN_LANG %}

<form class="section navbar-form" action="{% url_for controller='util', action='redirect' %}"
      data-module="select-switch" method="POST">
    <select id="field-lang-select" name="url" data-module="autocomplete" data-module-dropdown-class="lang-dropdown"
            data-module-container-class="lang-container" class="input-small">
        {% for locale in h.get_available_locales() %}
            <option value="{% url_for h.current_url(), locale=locale.short_name %}"
                    {% if locale.identifier == current_lang %}selected="selected"{% endif %}>
                {{ locale.short_name }}
            </option>
        {% endfor %}
    </select>
    <button class="btn js-hide" type="submit">{{ _('Go') }}</button>
</form>