{% ckan_extends %}

{% block primary_content %}
    <article class="module">
        <div class="module-content">
            <h1 class="page-heading">
                {% block page_heading %}{{ _('Users') }}{% endblock %}
            </h1>
            {% block users_list %}
                <ul class="user-list">
                    {% block users_list_inner %}
                        {% for user in c.page.items %}
                            {% set user_orgs = h.user_orgs(user['name']) %}

                            <li>{{ h.linked_user(user['name'], maxlength=20) }}

                                {% if user_orgs %}
                                    <span>{{ _('Organizations') }}: </span>
                                    {{ user_orgs|map(attribute='title')|join(', ') }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endblock %}
                </ul>
            {% endblock %}
        </div>
        {% block page_pagination %}
            {{ c.page.pager(q=c.q, order_by=c.order_by) }}
        {% endblock %}
    </article>
{% endblock %}