/*
*
* Custom added classes
*
*/

/** HEADER **/
.masthead .section-right {
    float: right !important;
    margin-right: -15px;
}



/*
*
* Customizations
*
*/

/** HEADER **/
.masthead .navbar .brand {
    text-shadow: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    padding: 10px 30px 10px;
}

.navbar-form .select2-container {
    margin-top: 5px;
}

.masthead .nav-collapse {
    float: none;
}

.masthead .nav-collapse.in .section-right {
    float: left !important;
    clear: both;
}

/** HOME **/

.hero {
    background: none;
    background-color: white;
}