{% ckan_extends %}

{% block styles %}
    {{ super() }}

    {# Import example_theme.css using Fanstatic.
            'napote_theme/' is the name that the napote_theme/fanstatic directory
            was registered with when the toolkit.add_resource() function was called.
            'napote_theme.css' is the path to the CSS file, relative to the root of
            the fanstatic directory. #}

    {% resource 'napote_theme/napote_theme.css' %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
{% endblock %}