{% ckan_extends %}

{% block links %}
    {{ super() }}
    {% block ga_tracking %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113014221-1"></script>
        <script>
            (function () {
                var host = window.location.hostname;

                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }

                gtag('js', new Date());

                gtag('config', 'UA-113014221-1');

                if (host === "localhost" || host.indexOf('testi') !== -1) {
                    window['ga-disable-UA-113014221-1'] = true;
                }
            }())
        </script>


    {% endblock %}
{% endblock %}

{% block styles %}
    {{ super() }}

    {# Import example_theme.css using Fanstatic.
            'napote_theme/' is the name that the napote_theme/fanstatic directory
            was registered with when the toolkit.add_resource() function was called.
            'napote_theme.css' is the path to the CSS file, relative to the root of
            the fanstatic directory. #}

    {% resource 'napote_theme/napote_theme.css' %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
{% endblock %}