{% ckan_extends %}

{% block header_wrapper %}
    <header class="masthead">
        <div class="navbar navbar-static-top">
            <div class="container">
                {% block header_debug %}
                    {% if g.debug and not g.debug_supress_header %}
                        <div class="debug">Controller : {{ c.controller }}<br />Action : {{ c.action }}</div>
                    {% endif %}
                {% endblock %}

                {# The .header-image class hides the main text and uses image replacement for the title #}
                <div class="{{ g.header_class }} pull-left">
                    {% block header_logo %}
                    <a class="brand" href="{{ h.url_for('home') }}">
                        <img src="/nap-logo.svg"
                             alt="{{ g.site_title }}"
                             title="{{ g.site_title }}"
                        />
                    </a>
                    {% endblock %}
                </div>

                <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar collapsible-btn" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="nav-collapse collapse">
                    <nav class="section navigation">


                        {% block header_site_navigation %}
                            <ul class="nav nav-pills">
                                {% block header_site_navigation_tabs %}
                                    {{ h.build_nav_main(('home', _('Home')),('search', _('Datasets')),('organizations_index', _('Organizations')) ) }}
                                {% endblock %}
                                {% if c.userobj %}
                                    <li>
                                        <a href="/ote/index.html#/own-services" title="{{ _('My services') }}">
                                            <span class="text">{{ _('My services') }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endblock %}
                    </nav>

                    <nav class="section navigation section-right">
                        <ul class="nav">
                            {% block header_account_container_content %}
                                {% if c.userobj %}
                                    <div class="dropdown account avatar authed" data-module="me"
                                         data-me="{{ c.userobj.id }}">
                                        <button class="btn btn-primary btn--transparent dropdown-toggle"
                                                type="button"
                                                data-toggle="dropdown">
                        <span class="image" title="{{ _('View profile') }}">
                                <span class="username">{{ c.userobj.display_name }}</span>
                        </span>
                                            <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                                        <ul class="dropdown-menu">
                                            {% block header_account_logged %}
                                                {% if c.userobj.sysadmin %}
                                                    <li>
                                                        <a href="{{ h.url_for(controller='admin', action='index') }}"
                                                           title="{{ _('Sysadmin settings') }}">
                                                            <i class="fa fa-gavel" aria-hidden="true"></i>
                                                            <span class="text">{{ _('Admin') }}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% set new_activities = h.new_activities() %}
                                                <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                                                    {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                                                    <a href="{{ h.url_for(controller='user', action='dashboard_datasets') }}"
                                                       title="{{ notifications_tooltip }}">
                                                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                                                        <span class="text">{{ _('Dashboard') }}</span>
                                                        <span class="badge">{{ new_activities }}</span>
                                                    </a>
                                                </li>
                                                {% block header_account_settings_link %}
                                                    <li>
                                                        <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}"
                                                           title="{{ _('View profile') }}">
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                            <span class="text">{{ _('View profile') }}</span>
                                                        </a>
                                                    </li>
                                                {% endblock %}
                                                {% block header_account_log_out_link %}
                                                    <li>
                                                        <a href="{{ h.url_for('/user/_logout') }}"
                                                           title="{{ _('Log out') }}">
                                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                            <span class="text">{{ _('Log out') }}</span>
                                                        </a>
                                                    </li>
                                                {% endblock %}
                                            {% endblock %}
                                        </ul>
                                    </div>
                                {% else %}
                                    {% block header_account_notlogged %}
                                        <li>
                                            {% link_for _('Log in'), controller='user', action='login' %}
                                        </li>
                                        {% if h.check_access('user_create') %}
                                            <li>
                                                <p class="navbar-text visible-desktop">
                                                    /
                                                </p>
                                            </li>
                                            <li>
                                                {% link_for _('Register'), controller='user', action='register', class_='sub' %}
                                            </li>
                                        {% endif %}
                                    {% endblock %}
                                {% endif %}
                            {% endblock %}
                        </ul>

                        {% snippet 'snippets/navbar_language_selector.html' %}

                    </nav>
                </div>
            </div>
    </header>
{% endblock %}