<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
      integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
      crossorigin=""/>

<style id="_stylefy-constant-styles_"></style>
<style id="_stylefy-styles_"></style>

<style>
  .leaflet-container {
    width: 100%;
    height: 250px;
  }
</style>

<div id="nap_viewer" data-resource-url="{{ transport_service_url}}">

</div>

<script src="/ote/js/out/goog/base.js"></script>
<script src="/ote/js/ote.js"></script>
<script>goog.require("ote.main")</script>
<script>
  ote.main.geojson_view();
</script>
