{#  !! IMPORTANT READ THE COMMENTS BELOW !! #}
{#  Note: This is a hack that allows babel message extractor to pick up CKAN core translation strings that
    are not actually used in our templates. Add more ckan translation strings here that you want to modify. #}

{# Also note, that we are not actually using variable here. We are just referencing exactly the CKAN translation
    keys as they are defined in the CKAN core pot file. #}

{# The pluralize tag will generate single and pluralize keys during message extraction phase #}

{# Datasets #}
{% trans %}Data and Resources{% endtrans %}
{% trans %}What are datasets?{% endtrans %}
{% trans %}View dataset{% endtrans %}
{% trans %}This dataset satisfies the Open Definition.{% endtrans %}
{% trans %}This dataset has no description{% endtrans %}
{% trans %}Dataset{% endtrans %}
{% trans %}Datasets{% endtrans %}
{% trans %}dataset{% endtrans %}
{% trans %}datasets{% endtrans %}
{% trans %}
    {num} Dataset
    {% pluralize %}
    {num} Datasets
{% endtrans %}
{% trans %}0 Datasets{% endtrans %}
{% trans %}Search Datasets{% endtrans %}
{% trans %}Search datasets...{% endtrans %}
{% trans %}Dataset not found{% endtrans %}
{% trans %}
    {number} dataset found for \"{query}\"
    {% pluralize %}
    {number} datasets found for \"{query}\"
{% endtrans %}
{% trans %}
    {number} dataset found
    {% pluralize %}
    {number} datasets found
{% endtrans %}
{% trans %}No datasets found{% endtrans %}
{% trans %}Sorry no datasets found for \"{query}\"{% endtrans %}
{% trans %}Unauthorized to read package %s{% endtrans %}
{% trans %}CKAN Dataset Revision History{% endtrans %}
{% trans %}Recent changes to CKAN Dataset: {% endtrans %}
{% trans %}Unauthorized to create a package{% endtrans %}
{% trans %}Unauthorized to update dataset{% endtrans %}
{% trans %}The dataset {id} could not be found.{% endtrans %}
{% trans %}Dataset has been deleted.{% endtrans %}
{% trans %}Unauthorized to delete package %s{% endtrans %}
{% trans %}Unauthorized to read dataset %s{% endtrans %}
{% trans %}Datasets affected: %s.\n{% endtrans %}
{% trans %}Datasets with no organization can't be private.{% endtrans %}
{% trans %}You must be logged in to follow a dataset.{% endtrans %}
{% trans %}Package was not found.{% endtrans %}
{% trans %}User %s not authorized to read these packages{% endtrans %}
{% trans %}User %s not authorized to read package %s{% endtrans %}
{% trans %}Before you can create a dataset you need to create an organization.{% endtrans %}
{% trans %}My Datasets{% endtrans %}
{% trans %}You haven't created any datasets.{% endtrans %}
{% trans %}Datasets with no organization can't be private.{% endtrans %}

{# Resources #}
{% trans %}Resource{% endtrans %}
{% trans %}Edited resources.{% endtrans %}
{% trans %}Package resource(s) invalid{% endtrans %}
{% trans %}Resource was not found.{% endtrans %}

{# Activity stream (datasets/resources/organizations) #}
{% trans %}{actor} added the tag {tag} to the dataset {dataset}{% endtrans %}
{% trans %}{actor} updated the dataset {dataset}{% endtrans %}
{% trans %}{actor} changed the extra {extra} of the dataset {dataset}{% endtrans %}
{% trans %}{actor} updated the resource {resource} in the dataset {dataset}{% endtrans %}
{% trans %}{actor} deleted the dataset {dataset}{% endtrans %}
{% trans %}{actor} deleted the extra {extra} from the dataset {dataset}{% endtrans %}
{% trans %}{actor} deleted the resource {resource} from the dataset {dataset}{% endtrans %}
{% trans %}{actor} created the dataset {dataset}{% endtrans %}
{% trans %}{actor} added the extra {extra} to the dataset {dataset}{% endtrans %}
{% trans %}{actor} added the resource {resource} to the dataset {dataset}{% endtrans %}
{% trans %}{actor} removed the tag {tag} from the dataset {dataset}{% endtrans %}
{% trans %}{actor} started following {dataset}{% endtrans %}
{% trans %}{actor} updated the organization {organization}{% endtrans %}
{% trans %}{actor} deleted the organization {organization}{% endtrans %}
{% trans %}{actor} created the organization {organization}{% endtrans %}

{# Organizations #}
{% trans %}Organization{% endtrans %}
{% trans %}organization{% endtrans %}
{% trans %}organizations{% endtrans %}
{% trans %}No organization{% endtrans %}
{% trans %}My Organization{% endtrans %}
{% trans %}My Organizations{% endtrans %}
{% trans %}my-organization{% endtrans %}
{% trans %}There is no description for this organization{% endtrans %}
{% trans %}Organization Form{% endtrans %}
{% trans %}This organization has no datasets associated to it{% endtrans %}
{% trans %}An organization must be provided{% endtrans %}
{% trans %}Organization does not exist{% endtrans %}
{% trans %}Organization not found{% endtrans %}
{% trans %}Organizations{% endtrans %}
{% trans %}Organization has been deleted.{% endtrans %}
{% trans %}You cannot add a dataset to this organization{% endtrans %}
{% trans %}There are no organizations to which you can assign this dataset.{% endtrans %}
{% trans %}User %s not authorized to add dataset to this organization{% endtrans %}
{% trans %}Ask a system administrator to create an organization before you can continue.{% endtrans %}
{% trans %}User %s not authorized to create organizations{% endtrans %}
{% trans %}User %s not authorized to delete organizations{% endtrans %}
{% trans %}User %s not authorized to delete organization %s{% endtrans %}
{% trans %}User %s not authorized to edit organization %s{% endtrans %}
{% trans %}Organization was not found.{% endtrans %}
{% trans %}Are you sure you want to delete organization - {name}?{% endtrans %}
{% trans %}Edit Organization{% endtrans %}
{% trans %}Add Organization{% endtrans %}
{% trans %}Search organizations...{% endtrans %}
{% trans %}There are currently no organizations for this site{% endtrans %}
{% trans %}Update Organization{% endtrans %}
{% trans %}Create Organization{% endtrans %}
{% trans %}Save Organization{% endtrans %}
{% trans %}Create a new organization{% endtrans %}
{% trans %}Datasets in organization: {group}{% endtrans %}
{% trans %}A little information about my organization...{% endtrans %}
{% trans %}Are you sure you want to delete this Organization? This will delete all the public and private datasets
    belonging to this organization.{% endtrans %}
{% trans %}No organizations found for \"{query}\"{% endtrans %}
{% trans %}
    {number} organization found
    {% pluralize %}
    {number} organizations found
{% endtrans %}
{% trans %}No organizations found{% endtrans %}
{% trans %}You are not a member of any organizations.{% endtrans %}

{# This was too complicated to edit in organization/member_new.html template, so we'll reference the translation key
    here. Be careful that you do not change anything in this block. #}
{% trans %}
    <p><strong>Admin:</strong> Can add/edit and delete datasets, as well as
        manage organization members.</p>
    <p><strong>Editor:</strong> Can add and edit datasets, but not manage
        organization members.</p>
    <p><strong>Member:</strong> Can view the organization's private
        datasets, but not add new datasets.</p>
{% endtrans %}