{% set organization = c.group_dict %}
<link rel="stylesheet" type="text/css" href="/ote/css/bootstrap_style_grid.css">
<link rel="stylesheet" type="text/css" href="/ote/css/omat_tyylit.css">
<link rel="stylesheet" type="text/css" href="/ote/css/fix_ckan_ote_rendering.css">
<style id="_stylefy-constant-styles_"></style>
<style id="_stylefy-styles_"></style>

<div id="nap_viewer"></div>

{# Get base.js only in localhost #}
{% if "localhost" in c.environ['HTTP_REFERER']: %}
    <script src="/ote/js/out/goog/base.js"></script>
{% endif %}
<script src="/ote/js/ote.js"></script>
<script>goog.require("ote.main")</script>
<script>
    ote.main.ckan_org_edit("{{organization.id}}");
</script>
