{:environment {:base-url "{{base_url}}/"}
 :testing-env? {{testing_environment}}
 :db {:url "{{db_url}}"
      :username "{{db_username}}"
      :password "{{db_password}}"}
 :http {:port 3000
        :max-body 33554432
        :strip-prefix "/ote"
        :auth-tkt {:shared-secret "{{auth_shared_secret}}"
                   :max-age-in-seconds 36000
                   :digest-algorithm "MD5"
                   :domain "{{cookie_domain}}"}
        ;;:session {:key "{{ote_cookie_key}}"}
        :ssl-upgrade {:port 8080 :url "{{base_url}}"}
        :allow-robots? {{allow_robots}}}

 :email {:server
         {;; Hostname of the STMP server. Optional if running locally.
          :host "{{email_smtp_server}}"
          ;; Port is set to 465 is ssl is true
          :port 587
          :ssl false
          ;; Port is set to 25 if tsl is true
          :tsl true
          :user "{{email_user}}"
          :pass "{{email_password}}"}

         ;; Common message opts
         :msg {:from "{{email_from}}"}}

 :places {:finnish-municipalities
          {:type :shapefile
           :name-field "NAMEFIN"
           :url "https://s3.eu-central-1.amazonaws.com/ote-assets/places/finnish-municipalities/SuomenKuntajako_2017_10k.shp"}}
 :nap {:api "{{base_url}}/api/"
       :export-base-url "{{base_url}}"}
 :log {:level :info}
 :ga {:tracking-code "UA-5406842-15"}
 :matomo {:piwik-url "{{matomo_piwik_url}}"
          :site-id {{matomo_site_id}}}
 :gtfs {:bucket "{{gtfs_bucket}}"}
 :enabled-features {{flags}}
 :pre-notices {:bucket "{{pre_notice_attachment_bucket}}"
	       :detected-changes-recipients "{{vault_pre_notices_detected_changes_recipients}}"
               :laundry-url {{laundry_url}} }
 :no-gtfs-update-for-operators {{no_gtfs_update_for_operators}}

:netex {:chouette-path "{{netex_chouette_path}}"
        :conversion-work-path "{{netex_conversion_work_path}}"
        :bucket "{{netex_bucket}}"}
}
