{:db {:url "{{db_url}}"
      :username "{{db_username}}"
      :password "{{db_password}}"}
 :http {:port 3000
        :strip-prefix "/ote"
        :auth-tkt {:shared-secret "{{auth_shared_secret}}"
                   :max-age-in-seconds 36000
                   :digest-algorithm "MD5"}}
 :places {:finnish-municipalities
          {:type :shapefile
           :name-field "NAMEFIN"
           :url "https://s3.eu-central-1.amazonaws.com/ote-assets/places/finnish-municipalities/SuomenKuntajako_2017_10k.shp"}}}
