<div role="main" class="hero">
    <div class="container">
        <script type="text/javascript">
                window.addEventListener('load', function hideTestEnvInfo() {
                    var el = window.document.querySelector('#test-env-warning');

                    if (el && window.location.hostname.indexOf('localhost') !== -1) {
                        el.style = 'border: red 4px dashed;';
                    }
                });
            </script>
            <div class="row">
                <div id="test-env-warning" class="span12" style="position: absolute; top: -9999px;left: -9999px;">
                    <p style="margin: 10px 0px 0px 10px; font-weight: bold;">TÄMÄ ON TESTIPALVELU! </p>
                    <p style="margin: 10px;">Julkinen NAP-palvelukatalogi löytyy osoitteesta:  <a href="https://finap.fi/ote/#/services">finap.fi</a></p>
                    <p style="margin: 10px;">Lisätietoa NAP-palvelukatalogin taustoista saat osoitteesta <a href="http://www.liikennevirasto.fi/nap">www.liikennevirasto.fi/nap </a></p>
                </div>
            </div>

        {% if c.userobj %}
            <div class="row row1 module">
                <div class="span12">
                    <p><b>{% trans user=c.userobj.display_name %}User greeting {{ user }}{% endtrans %}!</b></p>
                </div>
            </div>

            {% if not h.organizations_available() %}
                <div class="row">
                    <div class="span12 info-box">
                        <i class="icon fa fa-exclamation-circle fa-4x" aria-hidden="true"></i>
                        <p>
                            {# Note: Use trans-tag to allow rendering of HTML tags in the translation string. #}
                            {% trans %}NAP home page organizations infobox{% endtrans %}
                        </p>
                    </div>
                </div>
            {% endif %}

        {% else %}
            <div class="row">
                <div class="span12">
                    {% snippet 'home/snippets/header.html' %}
                </div>
            </div>
        {% endif %}

        <div class="row module">
            <div class="span12">
                {% block promoted %}
                    {% snippet 'home/snippets/promoted.html' %}
                {% endblock %}
            </div>

            {% if not c.userobj %}
                <div class="span12">
                    <br />
                    <p>{{ _('To digitize and publish services login is required') }}</p>
                </div>
            {% endif %}
        </div>

        {% if not c.userobj %}
            <div class="row text-center">
                <div class="span12">
                    <p>{% link_for _('Log in'), controller='user', action='login', class_='btn btn-primary' %}</p>
                </div>

                <div class="span12">
                    {# Add localization for this string! #}
                    <p><span>{{ _("New user") }}?</span></p>
                    <p>{% link_for _('Register'), controller='user', action='register', class_='btn btn-flat' %}</p>

                </div>
            </div>
        {% endif %}
    </div>
</div>
