<div role="main" class="hero">
    {% if c.userobj %}
        <div class="container">
            <div class="row row1 module">
                <div class="span12">
                    <p>{{ _('Hei') }} {{ c.userobj.display_name }}!</p>
                    <b>{{ _('Datasets') }}</b>-{% trans %}sivulla voit tarkastella ja hakea palvelussa julkaistuja
                    rajapintoja.{% endtrans %}<br />
                    <b>{{ _('Organizations') }}</b>{% trans %}-sivulla on listattuna palveluun rekisteröityneet
                    organisaatiot.{% endtrans %}
                </div>
            </div>

            <div class="row row2 module">
                <div class="span12">
                    <h2>{% trans %}Liikkumispalveluiden tallennus ja julkaisu{% endtrans %}</h2>
                </div>
                <div class="span6">
                    <div class="module-content box box--spaced box--gradient text-center">
                        <p>{% trans %}Liikkumispalvelusi olennaisten tietojen kirjaaminen, muokkaaminen ja julkaisu
                            hoituu kätevästi NAP-tietojen hallintapaneelissa.{% endtrans %}</p>

                        <div>
                            <p>
                                <a class="btn btn-primary"
                                   href="/ote/index.html">{{ _('Siirry tietojen hallintapalveluun') }}</a>
                            </p>
                            <p>
                                <small>({% trans %}Aukeaa uuteen välilehteen{% endtrans %})</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="module-content box box--spaced box--gradient text-center">
                        <p>{% trans %}Haluatko tallentaa tai päivittää linja-autoreittejä ja aikataulu-tietoja
                            RAE-palvelussa?{% endtrans %}</p>

                        <div>
                            <p>
                                {# NOTE: https://mathiasbynens.github.io/rel-noopener/ Avoid a browser vulnerability by using noopener noreferrer. #}

                                <a class="btn btn-primary"
                                   href="https://extranet.liikennevirasto.fi/extranet/web/f/rae?kategoria=1955433"
                                   target="_blank" rel="noopener noreferrer">{{ _('Avaa RAE-palvelu') }}</a>
                            </p>
                            <p>
                                <small>({% trans %}Aukeaa uuteen välilehteen ja vaatii erillisen <br /> kirjautumisen
                                    Liikenneviraston
                                    Extranetiin{% endtrans %})
                                </small>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not c.userobj %}
        <div class="container">
            <div class="row row1">
                <div class="span12">
                    {% snippet 'home/snippets/header.html' %}
                </div>
            </div>

            <div class="row row2">
                <div class="span10 offset1">
                    {% block promoted %}
                        {% snippet 'home/snippets/promoted.html' %}
                    {% endblock %}
                </div>
            </div>

            <div class="row row3 text-center">
                <div class="span12">
                    <p>{% link_for _('Log in'), controller='user', action='login', class_='btn btn-primary' %}</p>
                </div>

                <div class="span12">
                    {# Add localization for this string! #}
                    <p><span>{{ _("Uusi käyttäjä") }}?</span></p>
                    <p>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</p>

                </div>
            </div>
        </div>
    {% endif %}

</div>